
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #d41d50;
    border-color: #ff6a00;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
        font-size: 15px;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: #ff6a00;
            color: white;
            width: 60px;
            border-radius: 8px;
            line-height: 20px;
            height: 50px;
            margin-top: 20px;
        }

        .course > li .detail {
            margin-top: 10px;
            text-align: center;
            position: absolute;
            top: 10px;
            left: 70px;
        }

        .course > li.action {
            display: none;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action {
            display: block;
        }
